.menuBackground
    height: 100vh
    background: url("../../assets/img/MenuBackground.jpeg") no-repeat center
    background-size: cover
    display: flex
    justify-content: center
    align-items: center

.gameLoaded
    background-image: url("../../assets/img/MenuBackground_blured.jpeg")

.menuContainer
    display: flex
    flex-direction: column
    justify-content: space-around
    min-height: 400px
    height: 200px

    @media screen and (min-width: 720px)
        transform: scale(1.5)

.menuItem
    text-decoration: none
    &:visited
        text-decoration: none