@font-face {
    font-family: "Cyberfunk";
    src: url("/assets/fonts/Cyberfunk/Cyberfunk.eot"); /* IE9*/
    src: url("/assets/fonts/Cyberfunk/Cyberfunk.eot?#iefix") format("embedded-opentype"), /* IE6-IE8 */
    url("/assets/fonts/Cyberfunk/Cyberfunk.woff2") format("woff2"), /* chrome、firefox */
    url("/assets/fonts/Cyberfunk/Cyberfunk.woff") format("woff"), /* chrome、firefox */
    url("/assets/fonts/Cyberfunk/Cyberfunk.ttf") format("truetype"), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url("/assets/fonts/Cyberfunk/Cyberfunk.svg#Cyberfunk") format("svg"); /* iOS 4.1- */
}

body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

a {
  text-decoration: none !important;
}

.App {
    height: 100vh;
    width: 100vw;
    background: no-repeat center;
    background-size: cover;
}

.AppWrapper {
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
}

.GameSprite {
    position: absolute;
}